body {
    width: 100vw;
    height: 100vh;
/*    background-image: url("../images/background1.png");
    opacity: 40%;
    background-size: contain;*/
}

body {
    width: 100vw;
    height: 100vh;
}

#PageTitle {
	margin: 30px auto;
}

ul    {
    list-style-type: none;
    width: 604px;
    height: 604px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 0;
}

li {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    display: inline-block;
    float: left;
    border: 1px solid black;
    list-style-type: none;
}

.pageTitle {
	text-align: center;
}

.debug {
  margin:auto;
  display:block;
  margin-right: 30px;
}


#score {
	font-size: 40px;
	margin-top: 80px;
}

img {
	height: 150px;
    width: 150px;
}


.mole {
	background-size: contain;
	background-image: url("../images/sign-error-icon.png");
}

#timer {
    font-size: 40px;
}